@import "tailwindcss";
@import "tailwindcss-intersect";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #222;
}

@theme {
  --font-orbitron: "Orbitron", "sans-serif";
  --animate-fade: fade 5s ease-in-out 3s both;
}

@layer utilities {
  @keyframes fade { from { opacity: 0; } to { opacity: 1; } }
}
